@tailwind base;
@tailwind components;
@tailwind utilities;







// styles.scss

$noto-sans-lao-weight: 400; // Define the default weight; adjust as needed

// Mixin for Noto Sans Lao font
@mixin noto-sans-lao($uniquifier, $weight: $noto-sans-lao-weight) {
  .noto-sans-lao-#{$uniquifier} {
    font-family: "Noto Sans Lao", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
}

// Example usage
@include noto-sans-lao(custom, 700); // Use the mixin with a specific weight



@keyframes bounce {
  0%, 100% {
      transform: translateY(-15%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.animate-bounce {
  animation: bounce 3s infinite;
}


/* index.css or App.css */
.my-custom-confirm-btn,
.my-custom-deny-btn,
.my-custom-close-btn {
  background-color: #FF5733 !important;  /* Example background color */
  color: white !important;               /* Text color */
  border-radius: 10px !important;          /* Rounded corners */
  width: 90px !important;                /* Width of the button */
  height: 30px !important;               /* Height of the button */
             /* Use flexbox to center content */
  justify-content: center !important;    /* Horizontally center */
  align-items: center !important;        /* Vertically center */
  font-size: 12px !important;            /* Font size of the text/icon */
  padding: 0 !important;  
  margin: 0 !important;               /* Remove default padding */
  text-align: center !important;
  border: none !important;         /* Ensure text is centered */
}
/* Remove border when the button is focused or clicked */
.my-custom-confirm-btn:focus,
.my-custom-deny-btn:focus,
.my-custom-close-btn:focus {
  outline: none;  /* Removes the default outline */
  box-shadow: none;  /* Removes any shadow that might appear */
  border: none; /* Removes border */
}

/* Optional: Custom styles for the buttons */
.my-custom-confirm-btn,
.my-custom-deny-btn,
.my-custom-close-btn {
  border: none; /* Removes initial border */
}



/* Custom title color */
.my-custom-title {
  font-size: 14px !important;
/* Red color for the title */
}

.my-popup-width {
  padding-bottom: 8px !important;  
  width: 280px !important;
  height: fit-content !important;
  
}
.my-popup-width2 {
  padding-bottom: 8px !important;  
  width: 280px !important;
  height: 280px !important;
  
}


/* Adjust the size of the icon */
.swal2-icon2 {
  font-size: 12px;
  font-weight: 700; /* Adjust the size as needed */
  height: 60px; /* Ensures the icon is proportional */
  width: 60px;
}


/* Adjust the size of the icon */
.swal-icon {
  font-size: 8px;
  font-weight: 700; /* Adjust the size as needed */
  height: 40px; /* Ensures the icon is proportional */
  width: 40px;
}


.my-popup-width2 {
  padding-bottom: 8px !important;  
  width: 280px !important;
  height: 150px !important;
  
}







