@tailwind base;
@tailwind components;
@tailwind utilities;







// styles.scss

$noto-sans-lao-weight: 400; // Define the default weight; adjust as needed

// Mixin for Noto Sans Lao font
@mixin noto-sans-lao($uniquifier, $weight: $noto-sans-lao-weight) {
  .noto-sans-lao-#{$uniquifier} {
    font-family: "Noto Sans Lao", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
}

// Example usage
@include noto-sans-lao(custom, 700); // Use the mixin with a specific weight



@keyframes bounce {
  0%, 100% {
      transform: translateY(-15%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.animate-bounce {
  animation: bounce 3s infinite;
}

/* css weetalert2 custom */
.custom-cancelButton,.custom-yesButton{
  border-radius: 10px !important; 
  width: 90px !important;                
  height: 30px !important; 
  justify-content: center !important;  
  align-items: center !important;      
  font-size: 12px !important;            
  padding: 0 !important;  
  margin-left: 2 !important;              
  text-align: center !important;
  border: none !important; 
}
.custom-confirm-btn,
.custom-deny-btn,
.custom-close-btn {
   background-color: #057a55 !important; 
  color: white !important;         
  border-radius: 10px !important;         
  width: 90px !important;                
  height: 30px !important;               
  justify-content: center !important;   
  align-items: center !important;       
  font-size: 12px !important;           
  padding: 0 !important;  
  margin: 0 !important;             
  text-align: center !important;
  border: none !important;         
}
.custom-confirm-btn:focus,
.custom-deny-btn:focus,
.custom-close-btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.custom-confirm-btn,
.custom-deny-btn,
.custom-close-btn {
  border: none;
}
.custom-title {
  font-size: 14px !important;
}
.popup-width {
  padding-bottom: 8px !important;  
  width: 280px !important;
  height: fit-content !important;
}
.popup-width2 {
  padding-bottom: 8px !important;  
  width: 280px !important;
  height: 280px !important;
  
}
.swal2-icon2 {
  font-size: 10px;
  font-weight: 700;
  height: 50px; 
  width: 50px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.swal-icon {
  font-size: 8px;
  font-weight: 700; 
  height: 40px; 
  width: 40px;
}
.popup-width2 {
  padding-bottom: 8px !important;  
  width: 280px !important;
  height: 150px !important; 
}

/* Target the spinner's color */
.swal2-loader {
  border-color: #ff5a1f; /* Change this to your desired color */
  border-left-color: transparent; /* To maintain the spinning effect */
}








